<% if current_user.podcast.nil? %>
  <p><%= link_to('Create your podcast!', new_podcast_path(current_user.podcast)) %></p>
<% else %>
  <h3>Podcast Info</h1>
  <ul>
    <li>Title: <%= @podcast.title %></li>
    <li>Copyright: <%= @podcast.copyright %></li>
    <li>Author: <%= @podcast.username %></li>
    <li>Summary: <%= @podcast.summary %></li>
    <li>Description: <%= @podcast.description %></li>
    <li>Image Link: <a href="<%= @podcast.image_link %>"><%= @podcast.image_link %></a></li>
    <li>Category: <%= @podcast.category %></li>
    <li>Explicit: <%= @podcast.explicit ? 'Yes' : 'No' %></li>
  </ul>
  <br>
  <h3>
    Episodes
    <%= link_to new_episode_path do %>
      <i class="fi-plus success"></i>
    <% end %>
  </h3>
    <div class='row small-up-1 medium-up-2 large-up-3'>
      <% @episodes.each_with_index do |episode, index| %>
      <div class='column'>
        <div class='card'>
          <div class='card-divider'>
            <h4><%= episode.title %> - <%= link_to('Edit episode', edit_episode_path(episode)) %></h4>
          </div>
          <div class='card-section'>
            <% if !episode.live? %>
              <strong>EPISODE NOT LIVE</Strong>
              <% if current_user.first_non_live_episode == episode %>
                - <%= link_to('Push Live Now', episode_go_live_path(episode), method: 'patch') %>
              <% end %>
            <% end %>
            <ul>
              <li>Subtitle: <%= episode.subtitle %></li>
              <li>Summary: <%= episode.summary %></li>
              <li>Episode Image: <a href="<%= episode.image_link %>"><%= episode.image_link %></a></li>
              <li>Length: <%= episode.length.gsub(/\D/, '') %></li>
              <li>Duration: <%= episode.duration %></li>
              <li>Audio Link: <a href="<%= episode.audio_link %>"><%= episode.audio_link %></a></li>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
    </div>
<% end %>
