<% if current_user.podcast.nil? %>
  <p><%= link_to('Create your podcast!', new_podcast_path(current_user.podcast)) %></p>
<% else %>
  <h3>Podcast Info</h1>
  <ul>
    <li>Title: <%= @podcast.title %></li>
    <li>Copyright: <%= @podcast.copyright %></li>
    <li>Author: <%= @podcast.username %></li>
    <li>Summary: <%= @podcast.summary %></li>
    <li>Description: <%= @podcast.description %></li>
    <li>Image Link: <a href="<%= @podcast.image_link %>"><%= @podcast.image_link %></a></li>
    <li>Category: <%= @podcast.category %></li>
    <li>Explicit: <%= @podcast.explicit ? 'Yes' : 'No' %></li>
  </ul>
  <br>
    <div class='row small-up-1 medium-up-2 large-up-3'>
      <% @episodes.each_with_index do |episode, index| %>
      <div class='column'>
        <div class='card'>
          <div class='card-divider'>
            <h4>
              <%= episode.title %>
            </h4>
          </div>
          <div class='card-section'>
            <% if !episode.live? %>
              <strong>EPISODE NOT LIVE</Strong>
              <% if current_user.first_non_live_episode == episode %>
                - <%= link_to('Push Live Now', episode_go_live_path(episode), method: 'patch') %>
              <% end %>
            <% end %>
            <dl>
              <dt>Subtitle</dt>
              <dd><%= episode.subtitle %></dd>
              <dt>Summary</dt>
              <dd><%= episode.summary %></dd>
              <dt>Episode Image</dt>
              <dd><a href="<%= episode.image_link %>"><%= episode.image_link %></a></dd>
              <dt>Length</dt>
              <dd><%= episode.length.gsub(/\D/, '') %></dd>
              <dt>Duration</dt>
              <dd><%= episode.duration %></dd>
              <dt>Audio Link</dt>
              <dd><a href="<%= episode.audio_link %>"><%= episode.audio_link %></a></dd>
            </dl>
            <%= link_to edit_episode_path(episode) do %>
              <i class="fa fa-pencil fa-2x hvr-rotate float-right"></i>
            <% end %>
            <br>
          </div>
        </div>
      </div>
      <% end %>
    </div>
<% end %>
<%= link_to new_episode_path, class: 'new-episode' do %>
  <i class="fa fa-plus fa-2x fa-inverse hvr-icon-grow"></i>
<% end %>
