<%= link_to('Confused about how to fill out this form? Read this first', help_index_path) %>
<br><br>
<form id="js-archive-populate">
  <b>Archive.org Link</b><br>
  <input type="text" name="js-archive-link">
  <input type="submit" value="Populate Values">
</form>
<div id="js-archive-warning"></div>
<br>
<%= semantic_form_for @episode, :html => { :class => "episode_form" } do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <%= f.input :summary %>
    <%= f.input :audio_link %>
    <%= f.input :image_link %>
    <%= f.input :length %>
    <%= f.input :duration %>
    <% if @episode.new_record? && current_user.episodes.last&.live? %>
      <%= f.input :live, :label => 'Release episode now' %>
    <% end %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>
<% end %>
