<h1>Pocdast Info</h1>
<ul>
  <li>Title: <%= @podcast.title %></li>
  <li>Copyright: <%= @podcast.copyright %></li>
  <li>Author: <%= @podcast.username %></li>
  <li>Summary: <%= @podcast.summary %></li>
  <li>Description: <%= @podcast.description %></li>
  <li>Image Link: <a href="<%= @podcast.image_link %>"><%= @podcast.image_link %></a></li>
  <li>Category: <%= @podcast.category %></li>
  <li>Explicit: <%= @podcast.explicit ? 'Yes' : 'No' %></li>
  <br>
  <% @episodes.each_with_index do |episode, index| %>
    <li>Episode <%= index + 1 %></li>
    <ul>
      <li>Title: <%= episode.title %></li>
      <li>Subtitle: <%= episode.subtitle %></li>
      <li>Summary: <%= episode.summary %></li>
      <li>Episode Image: <a href="<%= episode.image_link %>"><%= episode.image_link %></a></li>
      <li>Length: <%= episode.length.gsub(/\D/, '') %></li>
      <li>Duration: <%= episode.duration %></li>
      <li>Audio Link: <a href="<%= episode.audio_link %>"><%= episode.audio_link %></a></li>
    </ul>
    <br>
  <% end %>
</ul>
