<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  </head>

  <body>
    <h3><%= link_to('podcrap', root_path) %></h3>
    <h5>a stupid podcast app</h5>
    <% if user_signed_in? %>
      <li>
        <%= link_to('Help', help_index_path) %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
    <% end %>
    <%= yield %>
    <div class="row">
      <div class="medium-12 columns">
        <p class="text-center"><%= notice %></p>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <p class="text-center"><%= alert %></p>
      </div>
    </div>
  </body>
</html>
