<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>podcarp</title>
    <meta property="og:url"                content="http://www.podcarp.com/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Podcarp: Free & Simple Podcast Hosting" />
    <meta property="og:description"        content="Host your podcast for free. Really. Okay, if your podcast becomes super successful it might not be able to handle all your downloads. Good luck with that though." />
    <meta property="og:image"              content="<%=asset_url('fb_image.jpg') %>" />

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  </head>

  <body>
    <%= render partial: '/navbar' %>
    <div class='column row'>
      <%= yield %>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <p class="text-center"><%= notice %></p>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <p class="text-center"><%= alert %></p>
      </div>
    </div>
  </body>
</html>
